<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="localhost_EcommerceDB_Connection" connectionString="XpoProvider=MSSqlServer;data source=192.168.1.7;user id=;password=;initial catalog=EcommerceDB;Persist Security Info=true" />
        <add name="localhost_EcommerceDB_Connection " connectionString="XpoProvider=MSSqlServer;data source=192.168.1.7;user id=;password=;initial catalog=EcommerceDB;Persist Security Info=true" />
        <add name="EcommerceDbConnection" connectionString="XpoProvider=MSSqlServer;data source=192.168.1.7;user id=sa;password=@Admin123456;initial catalog=EcommerceDB;Persist Security Info=true" />
        <add name="EcommerceConnection" connectionString="XpoProvider=MSSqlServer;data source=192.168.1.7;user id=sa;password=@Admin123456;initial catalog=EcommerceDB;Persist Security Info=true" />
    </connectionStrings>
</configuration>